.button2_size_m
{
    height: 32px;

    font-size: 15px;
    line-height: 32px;
}

.button2_size_m .button2__text
{
    margin: 0 15px;
}

.button2_size_m .button2__icon
{
    width: 32px;
}

.button2_size_m .button2__icon.icon_type_arrow
{
    width: 35px;
}

.button2_size_m .button2__icon_side_left ~ .button2__text
{
    margin-left: 29px;
}

.button2_size_m .button2__icon_side_right ~ .button2__text
{
    margin-right: 29px;
}
